{
  "root": true,
  "extends": [
    "@readme/eslint-config",
    "@readme/eslint-config/typescript"
  ],
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "env": {
    "node": true,
    "browser": true
  },
  "rules": {
    "consistent-return": "off",
    "no-plusplus": "off",
    "no-restricted-syntax": "off",
    "no-underscore-dangle": "off",
    "no-unused-vars": "off",
    "no-use-before-define": "off",
    "node/no-deprecated-api": "off", // `url.parse` has been deprecated but `url.URL` isn't a good replacement yet.
    "prefer-rest-params": "off"
  },
  "overrides": [
    {
      // The typings in this file are pretty bad right now, when we have native types we can
      // remove this.
      "files": ["lib/index.d.ts"],
      "rules": {
        // "@typescript-eslint/consistent-indexed-object-style": "off",
        // "@typescript-eslint/consistent-type-imports": "off",
        // "@typescript-eslint/no-explicit-any": "off",
        // "@typescript-eslint/sort-type-constituents": "off",
        // "eslint-comments/no-unused-disable": "off",
        // "lines-between-class-members": "off",
        // "max-classes-per-file": "off",
        // "quotes": "off",
        // "typescript-sort-keys/interface": "off"
      }
    },
    {
      // These can all get removed when the library is moved over to native TS.
      "files": ["*.js"],
      "rules": {
        // "@typescript-eslint/no-this-alias": "off",
        // "@typescript-eslint/no-unused-vars": "off",
        // "@typescript-eslint/no-use-before-define": "off",
        "@typescript-eslint/no-var-requires": "off",
        // "eslint-comments/no-unused-disable": "off",
        // "func-names": "off"
      }
    }
  ],
}
